html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
}

#out {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

#push, footer {
    height: 60px;
}

footer {
    background-color: #eeeeee;
    border: dotted thin LightSlateGrey;
    padding: 1em 1em 10em;
}

footer ul {
    list-style-type: none;
}

.copyright {
    float: right;
}

.hidden {
    display: none;
}

ul#pad-list li {
    list-style-type: none;
    font-family: courier;
}
